<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>StudyBud</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen" href="styles.css">

</head>

<body>

<style>



</style>

<div class="entire_thing">

    <h3>IMAGE GOES HERE</h3>
    <h1>How would you rate your overall experience?</h1>
    <br><br>

    <div class="div_button" onClick="location.href='https://www.google.com'"">
      Satisfied
    </div>
    <br></br>
    <div class="div_button">
      Not Satisfied
    </div>

</div>

</body>

</html>